@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/bl-melody-mono/style.css");
@import url("../public/micrac/stylesheet.css");

body {
  background: #1b1b1b;
  color: #fff9f3;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "BL Melody Mono Regular";
  width: 100%;
  height: 100%;
}

p {
  font-family: 'BL Melody Mono Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.bodyW {
  background: #fff!important;
  color: #1B1B1B!important
}


.bgbl {
  background: #1b1b1b;
}

.headi {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #fff9f3;
}

.headp {
  max-width: 632px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff9f3;
}

.pt-112 {
  padding-top: 112px;
}
.pt-112x {
  padding-top: 80px;
}

.footp {
  font-style: normal;
  font-size: 10px;
  line-height: 160%;
  color: #fff9f3;
  padding-top: 54px;
  padding-bottom: 42px;
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
}

.card:hover {
  cursor: pointer;
}

.cardH {
  height: 264px;
  width: 100%;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 300ms ease-out;
  border-color: #fff9f3;
}

.overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  opacity: 0.8;
}

.textImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
}

.sidebar {
  display: none;
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .1)
}

#sidebar-container {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #14a26b;
}

.sidebar-text {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
}

.bg-text {
  display: none;
  font-family: 'MicraC';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 140%;
  color: rgba(255, 249, 243, 0.04);
}

.otbgt {
  font-family: 'MicraC';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #FFF9F3;
}

.ab-cont {
  padding-left: 0;
  padding-right: 0;
}

.greg > p {
  padding: 16px 24px;
  border: 1px solid #fff9f3;
  text-transform: uppercase;
}

.borderr {
  border: 1px solid #fff9f3;
  font-family: "BL Melody Mono Light";
}

.borderr span{
  font-family: "BL Melody Mono SemiBold";
}

.pt-200 {
  padding-top: 112px;
}

.mx-600 {
  height: 100%;
  max-height: 500px;
}

.dax {
  width: 100%;
}

.bgmilk {
  background-color: #FFF9F3;
  padding: 16px 24px; 
  color: #1B1B1B;
}

.pt-112a {
  padding-top: 64px;
}

.contact-img {
  width: 288px;
  height: 160.28px;
}

.micrac {
  font-family: 'MicraC';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  color: #FFF9F3;
}

.bf600 {
  font-family: 'BL Melody Mono SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFF9F3;
}

#logon {
  transition: opacity 0.5s ease;
}
#logog {
  transition: opacity 0.5s ease;
}

.community1 {
  width: 100%;
  width: 100%;
  max-width: 701px;
  max-height: 476px;
}

.h2 {
  font-family: 'MicraC';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  color: #FFF9F3;
  text-transform: uppercase;
}

.community-cta {
  background-color: #14A26B;
  font-family: 'BL Melody Mono Bold';
  padding: 22.5px 50px;
  letter-spacing: -4%;
}

.naav {
  max-width: 1440px;
  margin: 0 auto;
}

hr {
  background-color: #E0E7E4;
}

.pt-main {
  padding-top: calc(56px + 20px + 32px);
}

.CTA {
  font-family: "BL Melody Mono Medium";
  padding: 18.5px 24px;
  background-color: #1B1B1B;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.naav {
  max-width: 1440px;
  margin: 0 auto;
}

.mini-CTA {
    display: block;
    text-align: center;
    font-family: "BL Melody Mono Medium";
    padding: 18.5px 24px;
    color: #1B1B1B;
    background-color: #fff;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.portfolio-h2 {
    font-family: 'MicraC';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}

.mockup{
    max-width: 660px;
    width: 100%;
    height: auto;
    box-shadow: -16px -16px 40px rgba(27, 27, 27, 0.1);
}

.pt-100 {
    padding-top: 72px;
}

.pt-main2 {
    padding-top: calc(64px + 40px + 40px + 1px);
}

.sidebar2 {
  display: none;
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .1)
}

#sidebar-container2 {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #1F1F1F;
}

.sidebar-text2 {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.04em;
  font-family: "BL Melody Mono Medium";
}

@media only screen and (min-width: 767px) {
  .h2 {
    font-size: 48px;
  }
  
  body {
    padding: 0 64px;
    max-width: 1440px;
  }
  .contact-img {
    width: 392px;
    height: 218.16px;
  }
}


@media only screen and (min-width: 1400px) {
  .portfolio-h2 {
      font-size: 64px;
      line-height: 110%;
  }

  .mockup{
      max-width: 660px;
      width: 100%;
      height: auto;
      box-shadow: -16px -16px 40px rgba(27, 27, 27, 0.1);
  }
  
  .pt-100 {
      padding-top: 100px;
  }
  
  .pt-main {
    padding-top: calc(64px + 40px + 40px + 1px);
  }
  
  .micrac {
    font-family: 'MicraC';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 140%;
    color: #FFF9F3;
  }

  .contact-img {
    max-width: 392px;
  }

  .mx-600 {
    height: 100%;
    max-height: 600px;
  }

  .dax {
    width: calc((100% - 20px) / 2);
  }
  .pt-200 {
    padding-top: 200px;
  }

  .ab-cont {
    padding-left: 103px;
    padding-right: 103px;
  }
  
  .pt-112a {
    padding-top: 112px;
  }

  .bg-text {
    display: block;
  }
  
  .otbgt {
    font-size: 32px;
    position: absolute;
  }
  
  .pt-112x {
    padding-top: 112px;
  }
  .footp {
    font-size: 12px;
  }  
  .footp {
    padding-top: 53px;
    padding-bottom: 40px;
    margin: 0;
  }

  .headi {
    font-size: 80px;
  }

  .headp {
    font-size: 16px;
  }

  .cardH {
    max-height: 264px;
    height: 264px;
  }

  body {
    padding: 0 112px;
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1900px) {
  .naav {
    padding: 2.5rem 0!important;
  }
  body {
    padding: 0;
    max-width: 1440px;
  }
  .sidebar {
    display: none;
    position: absolute;
  }
}
