@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/bl-melody-mono/style.css");
@import url("../public/micrac/stylesheet.css");

html,
body {
  scroll-behavior: smooth;
}

body {
  background: #1b1b1b;
  color: #fff9f3;
  font-family: "BL Melody Mono Regular";
  width: 100%;
  height: 100%;
}

.bodyCon {
  padding: 0 20px;
  margin: 0 auto;
}

.bodyConS {
  padding: 0 0 0 20px;
  margin: 0 auto;
}
p {
  font-family: "BL Melody Mono Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.bodyW {
  background: #fff !important;
  color: #1b1b1b !important;
}
.bgbl {
  background: #1b1b1b;
}
.headi {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #fff9f3;
}
.headp {
  max-width: 632px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff9f3;
}
.pt-112 {
  padding-top: 112px;
}
.pt-112x {
  padding-top: 80px;
}
.footp {
  font-style: normal;
  font-size: 10px;
  line-height: 160%;
  color: #fff9f3;
  padding-top: 54px;
  padding-bottom: 42px;
  text-align: center;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
}
.card:hover {
  cursor: pointer;
}

.cardH {
  height: 264px;
  width: 100%;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 300ms ease-out;
  border-color: #fff9f3;
}

.overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  opacity: 0.8;
}
.stdmid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
}

.sidebar {
  display: none;
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

#sidebar-container {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #14a26b;
}

.sidebar-text {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
}

.bg-text {
  display: none;
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 140%;
  color: rgba(255, 249, 243, 0.04);
}
.bg-text6 {
  display: none;
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 140%;
  color: rgba(255, 249, 243, 0.04);
}
.otbgt {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #fff9f3;
}

.hotbgt {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #fff9f3;
}

.bg-textw {
  display: none;
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: rgba(27, 27, 27, 0.04);
}
.otbgtw {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1b1b1b;
}
.otbgtn {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #fff9f3;
}
.ab-cont {
  padding-left: 0;
  padding-right: 0;
}

.greg > p {
  padding: 16px 24px;
  border: 1px solid #fff9f3;
  text-transform: uppercase;
}

.borderr {
  border: 1px solid #fff9f3;
  font-family: "BL Melody Mono Light";
}

.borderr span {
  font-family: "BL Melody Mono SemiBold";
}

.pt-200 {
  padding-top: 112px;
}

.mx-600 {
  height: 100%;
  max-height: 500px;
}

.dax {
  width: 100%;
}

.dax > p {
  font-family: "BL Melody Mono Light";
}

.bgmilk {
  background-color: #fff9f3;
  padding: 16px 24px;
  color: #1b1b1b;
}

.pt-112a {
  padding-top: 64px;
}

.contact-img {
  width: 288px;
  height: 160.28px;
}

.micrac {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  color: #fff9f3;
}

.bf600 {
  font-family: "BL Melody Mono SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff9f3;
}

#logon {
  transition: opacity 0.5s ease;
}
#logog {
  transition: opacity 0.5s ease;
}

.community1 {
  width: 100%;
  width: 100%;
  max-width: 701px;
  max-height: 476px;
}

.h2 {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  color: #fff9f3;
  text-transform: uppercase;
}

.community-cta {
  background-color: #14a26b;
  font-family: "BL Melody Mono Bold";
  padding: 22.5px 50px;
  letter-spacing: -4%;
}

.naav {
  max-width: 1440px;
  margin: 0 auto;
}

hr {
  background-color: #e0e7e4;
}

.pt-main {
  padding-top: calc(56px + 20px + 32px);
}

.CTA {
  font-family: "BL Melody Mono Medium";
  padding: 18.5px 24px;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.naav {
  max-width: 1440px;
  margin: 0 auto;
}

.mini-CTA {
  display: block;
  text-align: center;
  font-family: "BL Melody Mono Medium";
  padding: 18.5px 24px;
  color: #1b1b1b;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}

.portfolio-h2 {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}

.portfolio-p {
  line-height: 160%;
}

.mockup {
  max-width: 660px;
  width: 100%;
  height: auto;
  filter: drop-shadow(-16px -16px 40px rgba(27, 27, 27, 0.1));
  border-radius: 6.77557px;
}

.pt-100 {
  padding-top: 72px;
}

.pt-main2 {
  padding-top: calc(64px + 40px + 40px + 1px);
}

.prH {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #fff9f3;
}

.prp {
  font-size: 16px;
  line-height: 160%;
  color: #e0e7e4;
}

.py-120 {
  padding-top: 64px;
}

.gap-120 {
  gap: 64px;
}

.py-120r {
  padding: 80px 0;
}
.py-120w {
  padding: 80px 0 64px;
}
.tc-bt,
.tc-bt > p {
  font-size: 12px;
  line-height: 24px;
  color: #171c1a;
}

.tc-subcont-h2 {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #171c1a;
}
.tc-subcont-p {
  font-family: "BL Melody Mono Medium";
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #14a26b;
}
.tc {
  border: 1px solid #e0e7e4;
}

.w-cl {
  height: 38px;
}

.fop > p,
.fop > a {
  font-family: "BL Melody Mono Medium";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff9f3;
}

.fosp > p {
  font-family: "BL Melody Mono Medium";
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  letter-spacing: -0.04em;
  color: #597367;
}

.fosp > div > p {
  font-family: "BL Melody Mono Medium";
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  letter-spacing: -0.04em;
  color: #597367;
}

.t20 {
  font-size: 16px;
  line-height: 160%;
  color: #fff9f3;
}

.w1010 {
  max-width: 1010px;
}

.pt203 {
  padding: 103px 0 0px;
}

.sdp {
  font-family: "BL Melody Mono SemiBold";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.04em;
}

.sdcard {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  border: 1px solid #fff9f3;
}

.inactive-nb {
  color: #99afa5;
}

.bg-greeen {
  background-color: #14a26b;
}

.py-120p {
  padding: 64px 0;
}

.pro-h2 {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  text-align: left;
}

.pro-p {
  font-family: "BL Melody Mono Medium";
  max-width: 390px;
  width: 100%;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #e0e7e4;
}

.bg-balck {
  background-color: #1b1b1b;
}

.pb-120x {
  padding: 0px 0px 64px;
}

.py-120ax {
  padding: 64px 0px 120px;
}

.pro-goc {
  padding: 64px 0;
  margin-bottom: 120px;
}

.pro-go > h2 {
  font-family: "MicraC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: left;
}

.pro-go > p {
  max-width: 824px;
  font-family: "BL Melody Mono Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: #e0e7e4;
}

.zBold {
  font-family: "BL Melody Mono Bold";
  padding: 16px 24px;
}

.stdh0 {
  text-align: center;
  font-size: 28px;
  font-family: "MicraC";
  line-height: 140%;
}

.fmicrac {
  font-family: "MicraC";
}

.stdbg-cont {
  background-image: url('../public/stdbg.jpg');
  background-color: #1B1B1BB2;
  background-blend-mode: multiply;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.bdfont {
  font-family: "BL Melody Mono Regular";
}

@media only screen and (min-width: 767px) {
  .zBold {
    font-family: "BL Melody Mono Bold";
    padding: 22.5px 50px;
  }

  .pro-goc {
    padding: 120px 0;
  }

  .pro-go > h2 {
    text-align: center;
  }

  .pro-go > p {
    text-align: center;
  }

  .pb-120x {
    padding: 0 0 120px;
  }
  .py-120ax {
    padding: 120px 0px;
  }
  .pro-h2 {
    font-size: 64px;
    line-height: 100%;
    text-align: center;
  }

  .pro-p {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    max-width: 100%;
  }
  .py-120p {
    padding: 120px 0;
  }

  .sdcont {
    padding: 0 100px 0;
  }

  .pt203 {
    padding: 200px 0px 0px;
  }

  .t20,
  .sdp {
    font-size: 20px;
    line-height: 28px;
  }
  .fop > p,
  .fop > a {
    font-size: 14px;
    line-height: 17px;
  }
  .fosp > p {
    font-size: 12px;
    line-height: 14px;
  }

  .fosp > div > p {
    font-size: 12px;
    line-height: 14px;
  }

  .tc-bt,
  .tc-bt > p {
    font-size: 14px;
    line-height: 24px;
  }
  .tc-subcont-h2 {
    font-size: 20px;
    line-height: 20px;
  }
  .tc-subcont-p {
    font-size: 16px;
    line-height: 140%;
  }
  .w-cl {
    height: 73px;
  }

  .bodyCon, .bodyConS {
    padding: 0 64px;
    max-width: 1440px;
  }
  .contact-img {
    width: 392px;
    height: 218.16px;
  }

  .minusR {
    margin-right: -112px;
  }

  .minusL {
    margin-left: -112px;
  }

  .py-125 {
    padding: 120px 0 104px;
  }
}

@media only screen and (min-width: 1023px) {
  .h2 {
    font-size: 48px;
  }
  
  .prm {
    max-width: 436px;
  }
  .stdbg-cont {
    background-size: 130%;
  }
}

@media only screen and (min-width: 1400px) {
  .stdh0 {
    text-align: center;
    font-size: 48px;
    font-family: "MicraC";
    line-height: 140%;
  }
  
  .py-120w {
    padding: 120px 0 80px;
  }
  .py-120r {
    padding: 120px 0;
  }

  .py-125 {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e7e4;
    margin: 0 -112px;
    padding: 120px 112px 104px;
  }

  .gap-120 {
    gap: 120px;
  }

  .py-120 {
    padding-top: 120px;
  }

  .prH {
    font-family: "MicraC";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #fff9f3;
  }
  .prp {
    font-size: 16px;
    line-height: 160%;
    color: #e0e7e4;
  }

  .portfolio-h2 {
    font-size: 64px;
    line-height: 110%;
  }

  .mockup {
    max-width: 660px;
    width: 100%;
    height: auto;
    box-shadow: -16px -16px 40px rgba(27, 27, 27, 0.1);
    border-radius: 12px;
  }

  .pt-100 {
    padding-top: 100px;
  }

  .pt-main {
    padding-top: calc(64px + 40px + 40px + 1px);
  }

  .micrac {
    font-family: "MicraC";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 140%;
    color: #fff9f3;
  }

  .contact-img {
    max-width: 392px;
  }

  .mx-600 {
    height: 100%;
    max-height: 600px;
  }

  .dax {
    width: calc((100% - 20px) / 2);
  }
  .pt-200 {
    padding-top: 200px;
  }

  .ab-cont {
    padding-left: 103px;
    padding-right: 103px;
  }

  .pt-112a {
    padding-top: 112px;
  }

  .bg-text,
  .bg-textw,
  .bg-text6 {
    display: block;
  }

  .otbgt,
  .otbgtn {
    font-size: 32px;
    position: absolute;
  }

  .otbgtw {
    font-size: 24px;
    position: absolute;
  }

  .pt-112x {
    padding-top: 112px;
  }
  .footp {
    font-size: 12px;
  }
  .footp {
    padding-top: 53px;
    padding-bottom: 40px;
    margin: 0;
  }

  .headi {
    font-size: 80px;
  }

  .headp {
    font-size: 16px;
  }

  .cardH {
    max-height: 264px;
    height: 264px;
  }

  .bodyCon, .bodyConS {
    padding: 0 112px;
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1900px) {

  .maxstd {
    max-width: 1440px;
    margin: 0 auto;
  }

  .naav {
    padding: 2.5rem 0 !important;
  }
  .bodyCon, .bodyConS {
    padding: 0;
    max-width: 1440px;
  }
  .sidebar {
    display: none;
    position: absolute;
    max-width: 1440px;
    margin: 0 auto;
  }
  .minusR {
    margin-right: 0;
  }
  .minusL {
    margin-left: 0;
  }
}
